.site {
  height: 100vh;
  padding: 2rem 0;

  @media screen and (min-width: 37.5em) {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 4rem 0;
  }
}

.site-content {
  padding: 6rem;
}
