.menu-main-container {
  position: relative;
}

.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
}

.site-title {
  text-indent: -99999px;
  width: 5rem;
  height: 5rem;
  background-color: $color__text-screen;
  border-radius: 50%;
}

.main-navigation {


  .menu {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: -6rem;
    background-color: green;
    width: calc(100vh - 8rem);
    height: 12rem;
    transform-origin: left top;
    transform: rotate(-90deg) translateX(-100%);
    margin: 0;
    padding: 0;
    text-transform: uppercase;

    li {
      display: block;
      width: 100%;
    }

    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      background-color: orange;
    }

  }
}




/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}
